* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    :root {
    --color-primary: #9792E4;
    --color-secondary: #0084FD;
    --color-secondary-light: #85ddff;


    }

.container{
    max-width: 964px;
    margin: 0 auto;
    /* solo per debug */
    border: 1px dashed red;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fixed-header{
    width: 100%;
    position: fixed; 
    top: 0; 

}
.navbar{
    height: 60px;
    background-color:#0084FD;
    text-align: center;
    
}

.btn{
    border-radius: 10px;
    border: none;
    padding: 4px;
}

.link-navbar{
    text-decoration: none;
    color: white;
}

.section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-primary{
    background-color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}

.bg-secondary-light{
    background-color: var(--color-secondary-light);
}
.bg-white{
    background-color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-grow: 1;
    flex-basis: 0;
}

.col-1{
    flex-basis: calc(100% / 3);
}

.col-2{
    flex-basis: calc((100% / 3) * 2);
}
.col-3{
    flex-basis: 100%;
}
.card{
    /* solo per debug */
    border: 1px dashed blue; 
    background-color: var(--color-secondary-light); 
    border-radius: 1rem;
    min-height: 100px;
}
.justify-content{
    justify-content: center;
}
.img{
    width: 100%;
}



/* MEDIA QUERY */

@media screen and (max-width: 992px){
    .container{
        width: 748px;
    }
    .col-lg-half{
        flex-basis: 50%; 
    }
    .col-lg-full{
        flex-basis: 100%; 
    }


}


@media screen and (max-width: 768px){
    .container{
        width: 556px;
    }
    .col-md-half{
        flex-basis: 50%;
    }

    .col-md-full{
        flex-basis: 100%;
    }


}

@media screen and (max-width: 576px){
    .container{
        width: 100%;
    }

    .col-sm-half{
        flex-basis: 50%;
        
    }
    .col-sm-full{
        flex-basis: 100%;
        
    }
}